# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

# ignore nb project
/nbproject/

# ignore assets
/assets/

# ignore sass cache
**/.sass-cache/

# ignore .DS_Store
**/.DS_Store

# ignore debug.log
debug.log

# ignore others file
/cms/
/framework/
/siteconfig/
/ffpayment/
/themes/

.htaccess
README.md
composer.json
composer.lock
composer.phar
favicon.ico
index.php
install-frameworkmissing.html
web.config